<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans.xsd
	    http://www.springframework.org/schema/security
	    http://www.springframework.org/schema/security/spring-security.xsd"
	default-lazy-init="true">

	<security:http security="none" pattern="/service/exception/**"/>	

	<security:http auto-config="false" servlet-api-provision="true" 
			entry-point-ref="casEntryPoint" >
		<security:access-denied-handler error-page="/service/exception/accessDenied"/>
 		<security:anonymous enabled="true" granted-authority="R_G-anonymous" username="noname" />
		<security:logout logout-success-url="/index.jsp" />
		
        <security:custom-filter position="FORM_LOGIN_FILTER" ref="casFilter" /> 
        <security:custom-filter before="FILTER_SECURITY_INTERCEPTOR"
            ref="centitPowerFilter" />
        <security:custom-filter ref="requestSingleLogoutFilter" before="LOGOUT_FILTER" />   
        <security:custom-filter ref="singleLogoutFilter" before="CAS_FILTER" /> 
        <!-- 
        <security:session-management invalid-session-url="${cas.home}/login" /> 
        -->
	</security:http>

	<bean id="ajaxFailureHandler" class="com.centit.framework.security.AjaxAuthenticationFailureHandler">
		<property name="defaultFailureUrl" value="/system/mainframe/login/error"/>
		<property name="writeLog" value="false" />
	</bean>

	<bean id="ajaxSuccessHandler" class="com.centit.framework.security.AjaxAuthenticationSuccessHandler">
		<property name="writeLog" value="true" />
	</bean>
    
	<bean id="casFilter" class="org.springframework.security.cas.web.CasAuthenticationFilter">
	    <property name="authenticationManager" ref="authenticationManager"/>
	    <property name="authenticationFailureHandler" ref="ajaxFailureHandler" />    
        <property name="authenticationSuccessHandler" ref="ajaxSuccessHandler" />  
	</bean>
	
	<bean id="casEntryPoint"
	            class="org.springframework.security.cas.web.CasAuthenticationEntryPoint">
	    <property name="loginUrl" value="${cas.home}/login" />
	    <!-- loginUrl 一定要写域名，没有加入域的要写机器名，不能写ip地址，否则回报证书找不到
	     	这个机器名或者域名也是你生产证书的用户名 -->
	    <property name="serviceProperties" ref="casServiceProperties" />
	</bean>
	<!-- service 必须是login/cas -->
	<bean id="casServiceProperties" class="org.springframework.security.cas.ServiceProperties">
	    <property name="service" value="${local.home}/login/cas" />
	    <!-- j_spring_cas_security_check -->
	    <property name="sendRenew" value="false"/>
	</bean>
		
	<bean id="casAuthenticationProvider"  
	            class="org.springframework.security.cas.authentication.CasAuthenticationProvider">
	    <property name="authenticationUserDetailsService" ref="userDetailsService" />
	    <property name="serviceProperties" ref="casServiceProperties" />
	    <property name="ticketValidator">
	        <bean class="org.jasig.cas.client.validation.Cas20ServiceTicketValidator">
	            <constructor-arg name="casServerUrlPrefix" value="${cas.home}" />
	            <!-- 
	            property name="proxyGrantingTicketStorage" ref="proxyGrantingTicketStorage"
				 --> 	            
	        </bean>
	    </property>
	    <property name="key" value="centit" />
	</bean>
	<!-- an_id_for_this_auth_provider_only
	<bean id="proxyGrantingTicketStorage" class="org.jasig.cas.client.proxy.ProxyGrantingTicketStorageImpl" /> 
	 -->             
  	<security:authentication-manager alias="authenticationManager">
		<security:authentication-provider ref="casAuthenticationProvider" /> 
	 </security:authentication-manager>

	<!-- 访问决策器，决定某个用户具有的角色，是否有足够的权限去访问某个资源 -->
	<bean id="centitAccessDecisionManagerBean"
		  class="com.centit.framework.security.DaoAccessDecisionManager">
	</bean>

	<bean id="centitSecurityMetadataSource"
		  class="com.centit.framework.security.DaoInvocationSecurityMetadataSource">
	</bean>

	<bean id="centitSessionRegistry"
		  class="com.centit.framework.security.model.MemorySessionRegistryImpl"/>

	<bean id="centitPowerFilter"
		  class="com.centit.framework.security.DaoFilterSecurityInterceptor">
		<property name="authenticationManager" ref="authenticationManager" />
		<!-- centitAccessDecisionManagerBean hostIpFilterDecisionManagerBean -->
		<property name="accessDecisionManager" ref="centitAccessDecisionManagerBean" />
		<!-- centitSecurityMetadataSource hostIpSecurityMetadataSource -->
		<property name="securityMetadataSource" ref="centitSecurityMetadataSource" />
		<property name="sessionRegistry" ref="centitSessionRegistry" />
	</bean>
    
     <!-- 注销客户端 --> 
    <bean id="singleLogoutFilter" class="org.jasig.cas.client.session.SingleSignOutFilter" >
     	<property name="casServerUrlPrefix" value="${cas.home}" />    
    </bean>
    <!-- 注销服务器端 --> 
    <bean id="requestSingleLogoutFilter" 
    	class="org.springframework.security.web.authentication.logout.LogoutFilter"> 
	    <constructor-arg 
	    	value="${cas.home}/logout" /> 
	    <constructor-arg> 
    		<bean 
    			class="org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler"/> 
   		 </constructor-arg> 
    </bean>
</beans>
