<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-lazy-init="false">
    <!-- 文件管理与全文检索 -->
    <bean id="publicinfoManager" parent="baseTransactionProxy">
        <property name="target">
            <bean class="com.centit.app.service.impl.PublicinfoManagerImpl">
                <property name="publicinfoDao" ref="publicinfoDao"/>
            </bean>
        </property>
    </bean>
    <bean id="fileinfoManager" parent="baseTransactionProxy">
        <property name="target">
            <bean class="com.centit.app.service.impl.FileinfoManagerImpl">
                <property name="fileinfoDao" ref="fileinfoDao"/>
            </bean>
        </property>
    </bean>
    <bean id="workCalendar" parent="baseTransactionProxy">
        <property name="target">
            <bean class="com.centit.app.service.impl.WorkCalendarImpl">
                <property name="oaStatMonthDao" ref="oaStatMonthDao"/>
                <property name="oaWorkDayDao" ref="oaWorkDayDao"/>
                <property name="oaWorkingTimeDao" ref="oaWorkingTimeDao"/>
            </bean>
        </property>
    </bean>
    <bean id="innermsgManager" parent="baseTransactionProxy">
        <property name="target">
            <bean class="com.centit.app.service.impl.InnermsgManagerImpl">
                <property name="innermsgDao" ref="innermsgDao"/>
                <property name="innermsgRecipientDao" ref="innermsgRecipientDao"/>
                <property name="userMailConfigDao" ref="userMailConfigDao"/>
                <property name="msgannexDao" ref="msgannexDao"/>

                <property name="fileinfoManager" ref="fileinfoManager"/>
            </bean>
        </property>
    </bean>
    <bean id="innermsgRecipientManager" parent="baseTransactionProxy">
        <property name="target">
            <bean class="com.centit.app.service.impl.InnermsgRecipientManagerImpl">
                <property name="innermsgRecipientDao" ref="innermsgRecipientDao"/>
            </bean>
        </property>
    </bean>
    <bean id="emailMsgSender" parent="baseTransactionProxy">
        <property name="target">
            <bean class="com.centit.app.service.impl.EmailMessageSenderImpl">
                <!-- <property name="addressBookDao" ref="addressBookDao"/> -->
            </bean>
        </property>
    </bean>
    <bean id="oaWorkDayManager" parent="baseTransactionProxy">
        <property name="target">
            <bean class="com.centit.app.service.impl.OaWorkDayManagerImpl">
                <property name="oaWorkDayDao" ref="oaWorkDayDao"/>
            </bean>
        </property>
    </bean>


    <bean id="oaForumManager" parent="baseTransactionProxy">
        <property name="target">
            <bean class="com.centit.app.service.impl.OaForumManagerImpl">
                <property name="oaForumDao" ref="oaForumDao"/>
            </bean>
        </property>
    </bean>
    <bean id="oaReplyManager" parent="baseTransactionProxy">
        <property name="target">
            <bean class="com.centit.app.service.impl.OaReplyManagerImpl">
                <property name="oaReplyDao" ref="oaReplyDao"/>
            </bean>
        </property>
    </bean>

    <bean id="oaThreadManager" parent="baseTransactionProxy">
        <property name="target">
            <bean class="com.centit.app.service.impl.OaThreadManagerImpl">
                <property name="oaThreadDao" ref="oaThreadDao"/>
            </bean>
        </property>
    </bean>
    <!-- <bean id="userMailManager" parent="baseTransactionProxy"> <property name="target"> <bean class="com.centit.app.service.impl.UserMailManagerImpl">
        <property name="userMailConfigDao" ref="userMailConfigDao" /> </bean> </property> </bean> -->

    <bean id="userMailConfigManager" parent="baseTransactionProxy">
        <property name="target">
            <bean class="com.centit.app.service.impl.UserMailConfigManagerImpl">
                <property name="userMailConfigDao" ref="userMailConfigDao"/>
                <property name="innermsgManager" ref="innermsgManager"/>
            </bean>
        </property>
    </bean>


    <bean id="receiveMailTask" class="com.centit.app.util.ReceiveMailTask">
        <property name="innermsgManager" ref="innermsgManager"/>
        <property name="userMailConfigManager" ref="userMailConfigManager"/>
    </bean>
</beans>