<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-lazy-init="false">
    <bean id="oaStatMonthDao" class="com.centit.app.dao.OaStatMonthDao">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    <bean id="oaWorkDayDao" class="com.centit.app.dao.OaWorkDayDao">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>

    <bean id="oaWorkingTimeDao" class="com.centit.app.dao.OaWorkingTimeDao">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    <bean id="innermsgDao" class="com.centit.app.dao.InnermsgDao">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    <bean id="fileinfoDao" class="com.centit.app.dao.FileinfoDao">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    <bean id="msgannexDao" class="com.centit.app.dao.MsgannexDao">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    <bean id="oaForumDao" class="com.centit.app.dao.OaForumDao">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    <bean id="oaReplyDao" class="com.centit.app.dao.OaReplyDao">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    <bean id="oaThreadDao" class="com.centit.app.dao.OaThreadDao">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    <bean id="publicinfoDao" class="com.centit.app.dao.PublicinfoDao">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    <bean id="publicinfologDao" class="com.centit.app.dao.PublicinfologDao">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    <bean id="userMailConfigDao" class="com.centit.app.dao.UserMailConfigDao">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    <bean id="innermsgRecipientDao" class="com.centit.app.dao.InnermsgRecipientDao">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
</beans>